body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6a0dad;
    color: white;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

nav {
    background-color: #4682b4;
    flex: 1 1 100%;
    max-width: 200px;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    background-color: #4682b4;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #5a9bd3;
}

main {
    flex: 3 1 60%;
    padding: 1rem;
}

aside {
    background-color: #87ceeb;
    flex: 1 1 100%;
    max-width: 200px;
    padding: 1rem;
}

footer {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

/*ĐT*/
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    nav,
    aside,
    main {
        max-width: 100%;
        flex: 1 1 100%;
    }

    main {
        order: 1;
    }

    nav {
        order: 2;
    }

    aside {
        order: 3;
    }
}